{% extends 'users/base.html' %}
{% block content%}

<section class="vh-100" style="background-color: #332b2d;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="d-flex align-items-center mb-3 pb-1">
                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                            <span class="h1 fw-bold mb-0">Welcome to Banna's App</span>
                          </div>
                        {% for field in form %}
                            <h6>{{ field.label }}: <br> {{ field }}</h6>
                        {% endfor %}
                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </form>
                    {% if form.errors %}
                         <p style="color: red; padding-top:5px ; margin-top: 5px;">username or password not correct</p>
                    {% endif %}

                    <p class="mt-4">Don't have an account? <a href="{% url 'register' %}" style="text-decoration:none;">Signup here</a></p>

{% endblock content%}